.Organizations {

	/*padding-left: 20px;*/
}

.demo-tabs {
    width: 70%;
    margin: auto;
}
.demo-tabs .content {
    height: 100px;
}

.DayPicker-Months, .DayPicker, .DayPicker-Month, .DayPicker-wrapper, .DayPicker-Body {
	width: 100% !important;
}

.DayPicker-Day {
	padding: 0 !important;
    overflow: scroll;
}

::-webkit-scrollbar { 
    display: none; 
}

div.DayPicker-Months > div > div.DayPicker-Body > div > div > div > div > div {
    text-overflow: ellipsis;
    width: 142px;
    display: block;
    overflow: hidden;
}

.DayPicker-Month {
	display: initial !important;
}

.DayPicker-Day--outside {
    display: none !important;
}

.DayPicker-Day--today > div > div:nth-child(1) {
	background: orangered !important;
	color: white;
	line-height: 30px;
	width: 30px;
	height: 30px;
	bottom: 2px !important;
	right: 5px !important;
	border-radius: 25px;


}

.DayPicker-Day--today {
	color: inherit !important;
}

.DayPicker-NavButton--prev {
	display: none !important;
}

.DayPicker-NavButton--next {
	display: none !important;
}

/*.DayPicker-Body > div:first-child > div > div {
	border-top-width: 2px !important;
}

.DayPicker-Body > div:last-child > div > div {
	border-bottom-width: 2px !important;
}

.DayPicker-Body > div > div:first-child > div {
	border-left-width: 2px !important;
}

.DayPicker-Body > div > div:last-child > div {
	border-right-width: 2px !important;
}*/


.mn-pymk-list__cards {
    display: flex;
    flex-wrap: wrap;


    margin: 8px;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

.mn-pymk-list__card {
    flex-basis: calc(15% + .1em) !important;
    max-width: calc(15% + .1em) !important;
    padding: 10pt;
}

.mn-pymk-list__card {
    outline: #cdcfd2 solid 1px;
    background: #fff;
    position: relative;
    overflow: hidden;
}

.flex-column {
    flex-direction: column;
}

.display-flex {
    display: flex;
}

.pymk-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: none;
    /*margin-bottom: 40px;*/
}

.justify-center {
    justify-content: center;
}

.pymk-card__name--card-layout {
    display: block;
}

.pymk-card__name {
    display: block;
    margin: 8pt;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: none !important;
    text-overflow: ellipsis;
    word-break: keep-all;
    flex: 1 100%;
    color: black;
    font-weight: 700;
    font-size: 1.5rem;

}

.pymk-card__occupation {
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    flex: 1 100%;
    color: black;f
    font-size:1.25rem;
    opacity: 0.7;
}

.pymk-card__occupation--card-layout {
    display: block;
    max-height: none !important;

}

.text-align-center {
	text-align: center;
}

.pymk-card__name:hover {
    text-decoration: underline;
}